@charset "utf-8";
/* CSS Document */
body{ font-size:28px;}
.left{ float:left;}
.right{ float:right;}
.font-title{ color:#fff; font-size:1.2em;}
.font-fanhui{ color:#fff; font-size:1.1em;}

.Pmember-community{ width:100%; margin:0 auto;}
.Pmember-community-header{ background-color:#299cec; height:3.5em; line-height:3.5em;}
.Pmember-community-go:active{ color:#ccc;}
.Pmember-community-header .icon-fanhui{ width:1.3em; height:1.3em; margin-bottom:0.1em;}
.Pmember-community-header .icon-gengduo{ width:2.5em; height:2.3em; margin-top:0.5em;}
.Pmember-community-nav{padding:1em; width:100%; border-bottom:#f1f1f1 solid 1px;}
.Pmember-community-nav ul{ margin-bottom:0!important;}
.Pmember-community-nav .font-lan{ color:#299cec; font-size:0.8em;}
.Pmember-community-nav .font-shenhui{ color:#999; font-size:0.8em;}
.Pmember-community-nav>ul{}
.Pmember-community-nav>ul>li{ width:24%; text-align:center;}
.Pmember-community-nav>ul>li img{ width:1.8em; height:1.8em;}
/*.Pmember-community-content{ margin-top:0.2em;}*/
.Pmember-community-content>ul>li{ padding:0.6em; vertical-align:middle; border-bottom:#f1f1f1 solid 1px;}
.Pmember-community-content>ul>li:active{ background-color:#ecfafd;}
.Pmember-community-text{ width:83%;}
.Pmember-community-text .Pmember-community-fhover{ width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.Pmember-community-text .font-hei{ color:#000; font-size:1em;}
.Pmember-community-text .font-qianhui{ color:#999; font-size:0.7em; margin-top:0.5em;}
.Pmember-community-content .circle-img{ border-radius:100%; width:3em; height:3em; margin-right:0.5em;}
.Pmember-community-content .pinglun{ width:1.2em; height:1.2em;}